<?xml version="1.0" encoding="UTF-8" standalone="no"?><PacmanDash-Configuration><Players><Player1><Name>Filip</Name><Headgear>SweatBand</Headgear><Color>LightBlue</Color></Player1><Player2><Name>Swen</Name><Headgear>SweatBand</Headgear><Color>Yellow</Color></Player2></Players><MusicSounds><MusicVolume>0.13500001430511482</MusicVolume><SoundsVolume>0.3499999952316284</SoundsVolume><MusicMute>UnMute</MusicMute><SoundsMute>Mute</SoundsMute></MusicSounds></PacmanDash-Configuration>